:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
  --textColor: #434952;
}

.Article {
  width: 75%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Article_header,
.Article_body {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  /* border: 1px solid blue; */
}

.Article .Article_header__title {
  color: var(--dark-blue);
  margin-top: 56px;
  margin-bottom: -0.27em;
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 60px !important;
  letter-spacing: -3px;
}
.Article_body__subtitle {
  color: var(--dark-blue);
  margin-top: 56px;
  font-size: 32px !important;
  margin-bottom: -0.27em;
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1.5;
}

.Article_header__info {
  display: flex;
  padding: 0 0.7rem;
}
.Article_header__info-item {
  color: var(--textColor) !important;
  font-size: 15px;
  margin: 0 0.5rem;
  margin-top: 0.5em;
}

.Article_body .Article_body__text p {
  font-size: 21px !important;
  color: var(--textColor) !important;
  line-height: 32px;
  margin-top: 2em;
}

.dropcap:first-child:first-letter {
  color: var(--light-blue);
  font-size: 80px;
  padding-right: 8px;
  float: left;
  line-height: 0.7;
  font-family: georgia;
}
