:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}

.Navigation {
  display: grid;
  width: 100vw;
  padding: 1rem 0.5rem;
  position: relative;
  box-sizing: border-box !important;
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--yellow);
  z-index: 5 !important;
}

p,
button {
  position: relative;
  background-color: transparent;
}
.nav__a {
  color: var(--OffWhite);
  text-decoration: none;
}

.nav__a:after {
  background: none repeat scroll 0 0 transparent;
  top: 100%;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 0.5rem;
  left: 50%;
  position: absolute;
  background: var(--yellow);
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: 99;
}

.nav__a:hover:after {
  width: 100%;
  left: 0;
}

img {
  color: var(--OffWhite);
}
.nav__zero {
  grid-column: 1/3;
}
/*Main container for the Logo*/
.nav__logo {
  grid-column: 3/5;
  width: 200px;
}
/*Main container for the nav items*/

.nav__container {
  /* grid-column: 5/9; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Main container for the Icons*/
.nav__icons {
  grid-column: 9/10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.nav__icons-item {
  margin: 0 0.5rem;
  color: var(--OffWhite);
}
.nav__icons .nav__icons-item {
  font-size: 1.1rem;
}

.nav__icons-item:hover {
  cursor: pointer;
  color: var(--yellow);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.nav__last {
  grid-column: 10/12;
}

.input {
  border-radius: 20px;
  width: 68.5vw !important;
  padding: 0 50px !important;
  margin-right: 10px !important;
  color: #1e5583;
  font-size: 1rem;
  height: 40px;
  position: absolute;
  left: -452.5%;
  top: -22%;
  z-index: 500;
  transition: ease-in-out 0.4s;
}

.Navigation .input::placeholder {
  color: #858484;
  font-size: 1rem;
}

/* .Navigation .nav__search {
  width: 100vw;
  position: absolute;
  left: -15%;
} */
.Navigation .nav__search .nav__icons-item {
  font-size: 1.2rem;
}

.Navigation .nav__search .nav__icons-color {
  color: #fd6d48;
  margin-right: 0.5rem !important;
}

.suggestion {
  height: 100vh;
  width: 100%;
  background-color: hsla(206, 89%, 15%, 0.733);
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 99;
}

.search-items {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 71rem;
  min-height: 400px;
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 9%;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
