:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}
.Modal {
  position: absolute;
  top: 110%;
  left: 20%;
  min-width: 400px;
  border: 1px solid red;
}
