:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}
.Modal {
  position: absolute;
  top: 110%;
  left: 20%;
  min-width: 400px;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 0.5rem;
  background-color: var(--OffWhite);
  z-index: 5 !important;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 1rem;
}

.Modal .nav__button_close {
  position: relative;
  cursor: pointer;
  background: transparent;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--dark-blue);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  display: flex;
  left: 90%;
}

.Modal h3 {
  color: var(--dark-blue);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Modal .NEWS {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.NEWS div p a {
  color: var(--dark-blue);
  line-height: 2rem;
  font-size: 1.1rem;
  transition: ease-in-out 0.3s;
}

.Modal .ABOUT {
  min-width: 650px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.ABOUT div p a {
  text-align: center;
  color: var(--dark-blue);
  line-height: 1.5rem;
  font-size: 1.1rem;
  transition: ease-in-out 0.3s;
}

.btn__about,
.staff {
  background-color: #184366;
  color: var(--OffWhite) !important;
  border: none;
  padding: 0.5rem 4rem;
  margin: 2rem 0;
  text-transform: uppercase;
}
.staff {
  padding: 0.5rem 4.75rem;
}

.btn__about:hover,
.staff:hover {
  border: none !important;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Modal .EMPLOYMENT {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 525px;
  padding: 0.5rem 1rem;
}

.EMPLOYMENT div p a {
  color: var(--dark-blue);
  line-height: 2.2rem;
  font-size: 1.1rem;
  padding: 1rem 0;
  transition: ease-in-out 0.3s;
}

.ABOUT div p a:hover,
.NEWS div p a:hover,
.SCHOOL div p a:hover,
.EMPLOYMENT div p a:hover {
  text-align: center;
  color: var(--orange);
}
