@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
  --OffWhite: #e9e8e870;
}

p {
  font-size: 0.95rem;
  color: var(--OffWhite);
}

.App {
  width: 100vw;
  box-sizing: border-box !important;
}
